<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <b>Список кафе на карте</b>
            <div class="scroll-block">
                <table class="table-hover table-bordered" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="myTd">Название</th>
                        <th class="myTd">Адрес</th>
                        <th class="myTd">Рейтинг</th>
                        <th class="myTd">Статус</th>
                        <th class="myTd">Выбор</th>
                        <th class="myTd">Показать на карте</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cafe in cafes %}
                        <tr id="tr_{{ cafe.id }}">
                            <td id="td_name_{{ cafe.id }}" class="myTd">{{ cafe.name }}</td>
                            <td id="td_address_{{ cafe.id }}" class="myTd">{{ cafe.address }}</td>
                            <td id="td_raiting_{{ cafe.id }}" class="myTd">{{ cafe.raiting }}</td>
                            <td id="td_db_{{ cafe.id }}" class="myTd">{{ cafe.db }}</td>
                            <td class="myTd" align="center">
                                {% if cafe.db=='' %}
                                <input id="td_db_{{ cafe.id }}"
                                           data-lng = {{ cafe.lng }}
                                           type="checkbox"
                                           data-lat = {{ cafe.lat }}
                                           onchange=""
                                           data-cafe_id = {{ cafe.id }}
                                           value=""
                                           data-db = {{ cafe.db }}

                                    >
                                {% endif %}

                            </td>
                            <td class="myTd" align="center">
                                <a href="#"
                                   class= "showCafe"
                                   title="Показать на карте"
                                   onclick="centeredCafe(this);"
                                   data-cafe_id = "{{ cafe.id }}"
                                   data-lat = "{{ cafe.lat }}"
                                   data-lng = "{{ cafe.lng }}"
                                >
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <input type="button" class="btn btn-success" value="Сохранить выбранные кафе" onclick="addCafiesToDB()">
    </div>
</div>

